@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Plus Jakarta Sans, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none; /* no underline */
}

a.name {
  font-weight: bold;
  color: hsl(224, 21%, 14%);
}

a.name:hover {
  color: hsl(219, 85%, 26%);
}



a.post, a.group{
  color: hsl(219, 12%, 42%);
  font-weight: bold;
}
a.post:hover, a.group:hover,a.post:focus, a.group:focus  {
  color: hsl(219, 85%, 26%);
  font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: hsl(210, 60%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 55%;
  background-color: white;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
h1 {
  font-weight: bold;
  font-size: 20x;
}
.notifications-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.notifications-total {
  color: white;
  padding: 0.25rem 0.75rem;
  background-color: hsl(219, 85%, 26%);
  border-radius: 5px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.mark-all-as-read {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: hsl(219, 12%, 42%);
}
.mark-all-as-read:hover, :focus {
  color: hsl(219, 85%, 26%)
}

strong {
  color: black;
}
ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
li {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
}

li.unread {
  background-color: hsl(210, 60%, 98%);
}

li img {
  height: 50px;
}


.notification-text-area {
  margin-left: 1rem;
  font-size: 16px;
  color: hsl(219, 12%, 42%);
}

.picture {
  margin-left: auto;
}

.notification-text-content {
  margin: 0.25rem 0;
}

.unread-indicator {
  height: 8px;
  width: 8px;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 0.25rem;
  display: none;
}

.unread .unread-indicator {
  display: inline-block;
}

.private-message {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2.5px;
  margin-top: 0.25rem;
}


.timestamp {
  color: hsl(219, 14%, 63%);
}
